#main { padding: 0 30px; background-color: #F7F7F7; }

.logo { border-bottom: 1px solid #F15C18; }

.flow { font-family: font; float: right; }

.flow > ul { float: right; padding-top: 15px; }

.flow > ul > li { width: 160px; float: left; text-align: center; position: relative; }

.flow > ul > li:hover { color: #E5E5E5; }

.flow > ul > li:hover > span { background-color: #fff; border: 2px solid #E1E1E1; top: 35px; }

.flow > ul > li > i { font-size: 30px; }

.flow > ul > li > span { border: 4px solid #E1E1E1; border-radius: 50%; width: 7px; height: 7px; display: block; background-color: #000; position: absolute; top: 33px; left: 74px; }

.flow > ul > li > p { font-size: 12px; }

.car { padding: 20px 0 20px 0; }

.car > h2 { font-size: 24px; font-weight: normal; float: left; }

.car > h2 > p { font-size: 12px; color: #C4D2E9; }

.car > p { font-size: 10px; float: right; padding-top: 20px; }

.car_detail > ul > li { font-size: 12px; float: left; position: relative; padding: 10px 0; }

.car_detail > ul > li:nth-of-type(1) { padding-left: 22px; }

.car_detail > ul > li:nth-of-type(2) { padding-left: 75px; }

.car_detail > ul > li:nth-of-type(3) { padding-left: 515px; }

.car_detail > ul > li:nth-of-type(4) { padding-left: 195px; }

.car_detail > ul > li:nth-of-type(5) { padding-left: 43px; }

.car_detail > ul > li:nth-of-type(6) { padding-left: 125px; }

.car_detail > ul > li > input { position: absolute; top: 10px; left: 0px; }

.car_mod { background-color: #fff; }

.car_mod > p { position: relative; padding: 18px 20px; border-bottom: 1px solid #E1E1E1; }

.car_mod > p > i { position: absolute; top: 18px; left: 120px; }

.car_mod_img { padding: 20px 0 0px 20px; position: relative; border-bottom: 1px solid #E1E1E1; }

.car_mod_img > input { position: absolute; top: 20px; left: 20px; }

.car_mod_img > img { width: 80px; height: 80px; margin-left: 25px; float: left; border: 1px solid #666; }

.car_mod_number { float: left; padding-left: 10px; }

.car_mod_number > p { padding-bottom: 25px; font-size: 14px; }

.car_mod_number > ul { font-family: font; }

.car_mod_number > ul > li { padding-left: 95px; color: #666666; margin-bottom: 20px; }

.car_mod_number > ul > li > p { font-size: 12px; float: left; width: 385px; }

.car_mod_number > ul > li > a { width: 108px; float: left; padding-right: 160px; }

.car_mod_number > ul > li > a > .number_sub { width: 28px; height: 28px; background-color: #FAFAFA; font-size: 20px; float: left; border: 1px solid #E1E1E1; border-radius: 4px 0 0 4px/4px 0 0 4px; text-align: center; }

.car_mod_number > ul > li > a > .number_sub:hover { border: 1px solid #FF5300; }

.car_mod_number > ul > li > a > .number_plus { width: 28px; height: 28px; background-color: #FAFAFA; font-size: 20px; float: right; border: 1px solid #E1E1E1; border-radius: 0 4px 4px 0/0 4px 4px 0; text-align: center; }

.car_mod_number > ul > li > a > .number_plus:hover { border: 1px solid #FF5300; }

.car_mod_number > ul > li > a > input { margin: 0; padding: 0; float: left; width: 48px; height: 28px; text-align: center; border: 0; border-top: 1px solid #E1E1E1; border-bottom: 1px solid #E1E1E1; }

.car_mod_number > ul > li > span:nth-of-type(2) { color: #FF7300; padding-left: 160px; font-weight: bold; width: 79px; display: inline-block; }

.car_mod_number > ul > span { font-size: 20px; float: right; background-color: #F5F5F5; }

.car_mod_number > ul > span > i { padding: 0px 5px; }

.car_mod_number > ul > span > i:hover { color: #FF7300; }

.car_mod_number > ul > span > i:nth-of-type(1) { font-size: 25px; }

.car_close > p { font-size: 12px; line-height: 57px; margin: 20px 0; background-color: #EEEEEE; }

.car_close > p > a { display: inline-block; padding: 0 325px 0 28px; }

.car_close > p > span { padding-left: 30px; }

.car_close > p > span > i { font-size: 16px; padding: 0 3px; }

.car_close > p > span:nth-of-type(3) > i { font-size: 20px; color: #FF7316; font-weight: bold; }

.car_close > p > span:nth-of-type(4) { font-size: 20px; background-color: #FF7300; color: #fff; padding: 16px 60px 19px 60px; }
