@charset "UTF-8";
body, html { width: 100%; }

body, dl, dd, h1, h2, h3, h4, h5, h6, p, form { margin: 0; }

ol, ul { margin: 0; padding: 0; }

ul, ol, li { list-style: none; }

img { display: block; border: 0 none; }

input { outline: none; }

body { font-family: "微软雅黑"; height: 100%; }

i { font-style: normal; }

a { text-decoration: none; display: block; color: #333; }

.qufu::after { display: block; content: ""; height: 0; clear: both; overflow: hidden; visibility: hidden; zoom: 1; }

/*////////////////hrader/////////////////////////////////////////////////////////////////////*/
#NAV { position: fixed; right: 0px; z-index: 10; height: 100%; font-family: font; }

.nav { border-right: 10px solid #888; height: 100%; position: absolute; right: 10px; }

.nav > a { position: absolute; top: 93%; font-size: 20px; padding: 5px; color: #fff; background: #666; margin-top: 2px; left: -30px; }

.nav > a > span { position: absolute; font-size: 10px; top: 12px; left: 5px; }

.nav_hide { background: #f6f6f6; width: 270px; height: 100%; position: absolute; top: 0px; left: 10px; }

.nav_hide > .nav_car > p { font-size: 16px; line-height: 40px; }

.nav_hide > .nav_car > p > i { padding: 0 10px; }

.nav_hide > .nav_car > p > a { float: right; font-size: 30px; }

.nav_hide > .nav_car > p > a:hover { color: red; }

.nav_hide > .nav_car > ul { font-size: 10px; }

.nav_hide > .nav_car > ul > li { background: #fff; padding: 20px 10px; margin-bottom: 20px; display: block; }

.nav_hide > .nav_car > ul > li > img { width: 50px; height: 50px; border: 1px solid #ccc; float: left; }

.nav_hide > .nav_car > ul > li > p:nth-of-type(2) { color: #666; }

.nav_hide > .nav_car > ul > li > span { color: #F15C18; }

.nav_hide > .nav_car > ul > li > span > i { color: #888; }

.nav_hide > .nav_car > ul > li > span > a { float: right; color: #f15c18; display: none; }

.close { background: #ddd; position: absolute; top: 600px; padding: 10px 0; }

.close > p { width: 270px; }

.close > p > span { color: #f15c18; }

.close > a { position: absolute; top: 10px; right: 5px; width: 110px; line-height: 40px; background: #f15c18; color: #fff; }

.nav_a { position: absolute; top: 40%; left: -30px; }

.nav_a > a { font-size: 20px; padding: 5px; color: #fff; background: #666; margin-top: 2px; border-radius: 3px 0 0 3px/3px 0 0 3px; position: relative; }

.nav_a > a:hover { background: #f15c18; color: #fff; }

.nav_a > a > span { position: absolute; width: 12px; height: 12px; border-radius: 50%; background: #f15c18; color: #fff; top: -2px; left: 20px; font-size: 10px; line-height: 12px; text-align: center; }

/*头部。。。。。。。。。。。*/
#header { width: 100%; }

.tops { font-family: font; box-sizing: border-box; padding: 0 30px; width: 100%; height: 40px; background-color: #f6f6f6; border-bottom: 1px solid #e5e5e5; font-size: 12px; }

.tops ul { float: right; }

.tops li { float: left; padding: 0px 10px 0px 10px; margin-top: 14px; }

.tops li:nth-of-type(5) > a > i { font-size: 16px; display: inline-block; width: 18px; height: 18px; border-radius: 50%; background-color: #F26626; color: #fff; padding: 3px 0px 0px 2px; margin-right: 5px; }

.topsLi { width: 170px; position: relative; border-left: 0; }

.topsA { position: absolute; font-size: 10px; top: 0px; right: 10px; color: #f00; }

.order { border-left: 1px solid #ddd; height: 15px; }

.order a { width: 72px; height: 15px; overflow: hidden; }

.order a > i { font-size: 10px; padding: 5px; }

.order:hover a { overflow: visible; line-height: 20px; background-color: #fff; border: 1px solid #ddd; width: 70px; }

/*//////////////*/
.logo { font-family: font; width: 100%; box-sizing: border-box; padding: 0 30px; height: 109px; }

.logo h1 { padding-top: 20px; width: 240px; float: left; }

.logo .shop { float: left; }

.logo .shop span { display: block; width: 115px; height: 41px; box-sizing: border-box; border: 1px solid #F0F0F0; margin-top: 24px; font-size: 12px; line-height: 41px; float: left; text-align: center; }

.logo .shop span > i { font-size: 16px; color: #F26626; margin-right: 10px; }

.logo .shop span:nth-child(1) { margin-right: 11px; }

.seek { float: left; padding: 24px 39px 0 38px; }

.seek li { float: left; padding: 0px 10px 0px 10px; margin-top: 9px; color: #A5A5A5; font-size: 12px; border-left: 1px solid #999999; }

.seek .seekX { padding-left: 0px; border-left: 0px; }

.seeks { border: 2px solid #f00; width: 550px; }

.seeks span { display: block; width: 70px; height: 37px; float: left; line-height: 37px; border-right: 1px solid #CECECE; box-sizing: border-box; padding-left: 14px; background-color: #F8F8F8; }

.seeks input { height: 37px; width: 380px; float: left; box-sizing: border-box; border: none; padding-left: 14px; }

.seeks button { background-color: #F15C18; border: none; color: #fff; width: 100px; height: 37px; }

/*//////////////*/
.list { width: 100%; box-sizing: border-box; padding: 0 30px; height: 40px; border-bottom: 1px solid #F15C18; position: relative; }

.list h2 { font-size: 14px; color: #FBF4FF; background-color: #F15C18; height: 40px; width: 172px; text-align: center; line-height: 40px; float: left; }

.list h2 .listUl { background-color: #343A3A; padding-left: 10px; }

.list h2 .listUl li { color: #fff; height: 52px; line-height: 52px; border-bottom: 1px dashed #494F4F; text-align: left; position: relative; }

.list h2 .listUl li span { color: #56473A; }

.list .listH2 { float: left; height: 40px; }

.list .listH2 li { float: left; padding: 0 25px; line-height: 40px; font-size: 14px; }

.list .listH2 .listLi { color: #FF6D02; }

.ding { position: absolute; top: 40px; width: 172px; background-color: #343A3A; /*display:none;*/ }

.ding ul { padding: 16px 0 16px 10px; }

.ding ul > li { position: relative; }

.ding ul a { color: #fff; height: 44px; line-height: 42px; border-bottom: 1px dashed #494F4F; text-align: left; font-size: 15px; }

.ding ul a:hover { background: #fff; color: #000; }

.ding ul a span { color: #56473A; }

/*/////////三级/////*/
#thrbox { width: 1030px; position: absolute; top: -15px; left: 162px; min-height: 482px; box-shadow: 7px 7px 10px -9px; background-color: #fff; z-index: 10; display: none; }

#three { width: 769px; padding: 10px 20px 10px 0; float: left; }

#three span { display: block; width: 109px; text-align: right; padding-right: 30px; float: left; position: absolute; top: 10px; left: -140px; font-size: 12px; font-weight: bold; }

#three span i { display: block; float: right; width: 20px; }

#three ul { margin-left: 162px; position: relative; border-bottom: 1px solid #F0F0F0; padding: 0px 0 10px 0px; }

#three ul li { float: left; padding: 0 10px; margin: 10px 0 0 0; border-left: 1px solid #F0F0F0; font-size: 11px; }

.threeimg { float: left; }

.threeimg p { border-left: 1px solid #E7E7E7; border-top: 1px solid #E7E7E7; }

.threeimg p:nth-child(1) { border-top: 0; }

/*hover*/
.ding ul li:hover #thrbox { display: block; }

/*////////////////main///////////////////////////////////////////////////////////////////*/
/*///////////底部////////////*/
/*/////////////浏览记录////////////////////*/
.browse > p { line-height: 70px; margin-top: 30px; box-shadow: 0px 6px 8px -9px inset; padding-left: 30px; font-weight: bold; }

.browse > ul { border-bottom: 1px solid #eee; padding: 0 30px; }

.browse > ul > li { margin-bottom: 20px; display: inline-block; padding: 0 10px; }

.browse > ul > li > span { font-size: 14px; padding: 0 10px; color: #FF6D02; font-weight: bold; margin: 10px 0; }

.browse > ul > li > p { font-size: 12px; padding: 10px 10px; }

#footer { width: 100%; }

.foot > p { padding: 18px 0 18px 200px; border-bottom: 1px solid #E3E3E3; }

.foot > p > span { float: left; font-size: 20px; line-height: 52px; padding-right: 90px; }

.foot > p > span > i { float: left; }

.foot_an { padding-top: 33px; }

.foot_an > span { display: block; padding: 0 37px 0px 163px; width: 245px; margin: 0px 0 27px 0; border-right: 1px solid #999999; float: left; }

.foot_an > span > h5 { font-size: 16px; font-weight: normal; padding: 0px 0 12px 5px; }

.foot_an > span > a { font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #999999; line-height: 24px; }

.foot_an > h6 { font-size: 16px; font-weight: normal; padding: 0 12px 0 63px; float: left; }

.foot_an > h6 > a { font-size: 12px; color: #999999; line-height: 24px; }

.foot_an > h6 > a:nth-child(1) { margin-top: 10px; }

.foot_er { background-color: #343A3A; width: 100%; text-align: center; }

.foot_er > p { padding: 14px 0; }

.foot_er > p > a { color: #EEEEEE; display: inline-block; font-size: 12px; padding: 0 12px; border-left: 1px solid #eee; }

.foot_er > p > a:nth-child(1) { border-left: 0; }

.foot_er > p i { background: url("../img/foot_er1.png") no-repeat; width: 22px; height: 24px; display: inline-block; position: relative; top: 5px; }

.foot_er > p:nth-child(2) > a { border-left: 0; }

.foot_er > p > span { color: #EEEEEE; display: inline-block; font-size: 12px; padding: 0 12px; }
