.logo > h2 { font-size: 14px; color: #666; float: right; padding-right: 100px; margin-top: 70px; }

.logo > h2 > a { float: right; padding: 0 5px; color: skyblue; }

.bg { background: #fafafa; padding: 50px 200px; }

.bor { background: #fff; border: 10px solid #d5d5d5; padding: 20px 20px; }

.reg { width: 500px; float: left; }

.reg > p { font-size: 18px; line-height: 30px; border-bottom: 1px solid #666; padding: 0 0 10px 100px; }

.input { padding: 30px 30px; }

.input > p { border: 1px solid #ccc; width: 400px; height: 54px; line-height: 54px; padding-left: 20px; }

.input > p > input { height: 30px; border: 0; padding-left: 20px; }

.input > p:nth-of-type(2) { border-top: 0px; position: relative; }

.input > p > span { position: absolute; width: 148px; height: 54px; background: #eee; color: #000; font-size: 40px; text-align: center; }

.input > p > i { position: absolute; width: 148px; height: 54px; background: #777; opacity: 0.9; display: none; top: 0px; left: 272px; color: #fff; }

.input > div { display: inline-block; padding: 20px 0; }

.input > div > a { display: inline-block; color: blue; }

.input > a { width: 420px; height: 50px; background: #FF500B; font-size: 20px; line-height: 50px; text-align: center; color: #fff; border-radius: 5px 5px; margin-bottom: 200px; }

.mg { float: left; margin-left: 20px; padding-left: 20px; border-left: 1px solid #ccc; height: 540px; }

.mg > h3 { font-size: 16px; padding-bottom: 20px; }

.mg > img { padding-left: 20px; }
